$colors: (
  light: (
    latin: rgb(81, 0, 93),
    arabic: rgb(190, 63, 0),
  ),
  dark: (
    latin: rgb(255, 255, 136),
    arabic: rgba(108, 255, 228, 0.994),
  ),
);

@mixin language-styles($color) {
  .pretitle,
  a,
  pre {
    color: $color;
  }

  .skip-to-content-link {
    background-color: $color;
  }

  .tip-bloc {
    background-color: rgba($color, 0.1);
  }

  .tabbed-navigation {
    background-color: rgba($color, 0.1);
    a {
      &.active {
        $light-color: map-get($colors, "light");
        color: if($color == $light-color, blue, black);

        background-color: lighten($color, 20%);
        &:hover {
          background-color: lighten($color, 15%);
        }
      }
    }
  }

  input {
    accent-color: $color;
  }

  .form-check-input {
    &:checked {
      background-color: $color;
    }
  }
}

@each $mode, $mode-colors in $colors {
  .#{$mode}mode {
    @each $lang, $color in $mode-colors {
      .#{$lang} {
        @include language-styles($color);
      }
    }
  }
}

///*------------Directions------------*/
$lang-direction: (
  latin: ltr,
  arabic: rtl,
);
@each $lang, $direction in $lang-direction {
  .#{$lang} {
    direction: $direction;
  }

  .tip-bloc {
    direction: ltr;
  }
}

///*------------Font-Family------------*/
$font-family: (
  latin: "Noto Sans",
  arabic: "Noto Sans Arabic",
);
@each $lang, $typeface in $font-family {
  .#{$lang} {
    font-family: $typeface;
    .en,
    .tip-bloc {
      font-family: "Noto Sans";
    }
  }
}
/*------------Font-Size------------*/
$font-size: (
  latin: 16px,
  arabic: 18px,
);
@each $lang, $size in $font-size {
  .#{$lang} {
    font-size: $size;
  }

  .tip-bloc {
    font-size: 16px;
  }
}
/*------------Line-Height------------*/

$line-height: (
  latin: 1.75,
  arabic: 2,
);

@each $lang, $height in $line-height {
  .#{$lang} {
    p {
      line-height: $height;
    }

    .tip-bloc {
      p {
        line-height: 1.75;
      }
    }
  }
}

$header-line-height: (
  latin: calc(2px + 2ex + 2px),
  arabic: calc(3px + 3ex + 3px),
);

@each $lang, $header-height in $header-line-height {
  .#{$lang} {
    h1,
    h2,
    h3,
    h4 {
      line-height: $header-height;
    }
  }
}
/*------------Letter-Spacing------------*/
$letter-spacing: (
  latin: 0.5px,
  arabic: 0px,
);
@each $lang, $kerning in $letter-spacing {
  .#{$lang} {
    letter-spacing: $kerning;
  }
}
