.tabbed-navigation {
  margin: $gap 0;
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  width: 100%;
  border-radius: $border-radius;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
  line-height: 1;
  overflow: hidden;
  a,
  p {
    line-height: 1;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5em $demi-gap;
    border-radius: $border-radius;
    transition: $animation-transition;

    &:focus {
      outline: 0;
      border: 0;
    }
  }

  p {
    color: lighten($txt-dark, 30%);
    margin-bottom: 0;
  }
}
