@import "vars";
@import "mixins";
@import "accessibility";
@import "fonts";
@import "typography";
@import "header";
@import "footer";
@import "lang";
@import "bootstrap";
@import "nav";
@import "tip-blocs";
@import "buttons";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-wrap: break-word;
  hyphens: none;
  display: flex;
  justify-content: center;

  .App {
    color: $txt-dark;
    background-color: $bg-light;
    padding: 10vh 30vh;
    &.darkmode {
      color: $txt-light;
      background-color: $bg-dark;
      .modeToggler {
        color: $txt-light;
      }
    }

    main {
      .container {
        padding: 0;
        display: flex;
        margin: auto;
        gap: $gap;

        .content {
          .main-text {
            max-width: 70ch;
          }
          display: flex;
          gap: $gap;
        }
      }
    }
  }
}
